@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:wght@400;500;700&family=Poppins:wght@100;300;400;700&display=swap');

/* * {
    border: .5px solid red;
} */

/* Variables */
:root {
  --primaryText: #040404;
  --secondaryText: #7b7a7b;
  --thirdText: #ffffff;
  --fourthText: #ae4950;

  --primaryBg: #0b0b0b;
  --secondaryBg: #f1f1f1;
  --thirdBg: #ae4950;
  --fourthBg: #f4f4f4;

  --primaryNav: #f0f0f0;
  --secondaryNav: #ae4950;
}

/* < Setup - start */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryText);
}
a {
  text-decoration: none;
  color: var(--primaryText);
}
hr {
  margin: 0.5rem 0;
}
span {
  color: var(--fourthText);
}
footer {
  background-color: var(--primaryBg);
  color: var(--thirdText);
  font-family: 'Lora', serif;
  text-align: center;
  padding: 2rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
article p {
  text-align: justify;
  margin: 0 0 15px;
}
/* > Setup - end */

/* < Generic style - start */
/* <- Text justify - start */
.justify-text {
  text-align: justify;
}
/* -> Text justify - end */
/* <- Title - start */
.title {
  margin: 1.5rem 0 0.5rem;
}
.section-title {
  margin: 1.5rem 0 0.5rem;
}
.sidebar-title {
  margin: 1.5rem 0 0.5rem;
  text-align: center;
}
/* -> Title - end */
/* <- Date information - start */
.section-date {
  margin: 0 0 1rem;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(153, 153, 153);
}
/* -> Date information - end */
/* <- Icon - start */
.sidebar-icon {
  margin: 15px auto;
  justify-content: center;
}
.sidebar-icon ul li a i {
  font-size: 25px;
}
/* -> Icon - end */
/* <- Permalink - start */
.site-permalink a {
  transition: 0.2s ease-in;
}
.site-permalink a:hover {
  color: var(--fourthText);
}
/* -> Permalink - end */
/* <- Section image (main) - start */
.section-img {
  border-radius: 10px;
  overflow: hidden;
}
.section-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* -> Section image (main) - end */
/* <- Sidebar article - start */
.sidebar-article {
  margin: 1rem 0;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.sidebar-article:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.sidebar-article-item a {
  display: flex;
}
.sidebar-article-item img {
  width: 35%;
  object-fit: cover;
  border-radius: 5px;
}
.sidebar-article-item p {
  padding: 0 10px;
  font-size: 12px;
  text-align: justify;
}
.sidebar-profile .site-permalink {
  margin-bottom: 15px;
}
/* -> Sidebar article - end */
/* > Generic style - end */

/* < Container - start */
.site-header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  background-color: var(--primaryBg);
  font-family: 'Bebas Neue', sans-serif;
}
.site-main {
  margin: 80px auto 20px;
  width: 90%;
  display: flex;
}
.edu-exp-container {
  display: flex;
  justify-content: space-between;
}
/* > Container - end */

/* < Header - start */
/* <- Navbar - start */
.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
}
/* <-- Logo - start */
.nav .nav-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.nav .nav-logo a {
  color: var(--primaryNav);
}
/* --> Logo - end */
/* <-- Navigation - start */
.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.nav ul li a {
  font-size: 1.5rem;
  color: var(--primaryNav);
  transition: 0.2s ease-in-out;
}
.nav ul li a:hover {
  color: var(--secondaryNav);
}
.nav ul li a.active {
  color: var(--secondaryNav); /* Ganti warna sesuai preferensi Anda */
}
/* --> Navigation - end */
/* <-- Hamburger - start */
.hamburger {
  display: none;
  z-index: 999;
  height: 48px;
  /* position: fixed;
    top: 5%;
    right: 35px; */
}
.hamburger div {
  width: 25px;
  height: 2px;
  background-color: var(--secondaryBg);
  /* margin: 7px; */
  transition: all 0.2s;
  z-index: 999;
}
/* --> Hamburger menu -end */
/* -> Navbar - end */
/* > Header - end */

/* < Main - start */
/* <- Main article - start */
.site-content {
  padding: 20px 40px;
  width: 65%;
  border: 1px solid grey;
}
.site-breadcrumb {
  padding: 10px;
  background-color: var(--fourthBg);
  border-radius: 3px;
  font-family: 'Lora', serif;
  font-size: 16px;
}
.site-breadcrumb a {
  color: var(--fourthText);
}
.site-breadcrumb a:hover {
  text-decoration: underline;
}
/* -> Main article - end */
/* <- Card - start */
.card {
  margin: 1px solid var(--secondaryText);
}
/* -> Card - end */
/* <- Page selector - start */
.page-selector {
  margin: 1.5rem 0 0;
}
.page-selector ul {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  list-style: none;
  display: flex;
  gap: 6px;
}
.page-selector ul li a {
  background-color: var(--primaryBg);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.page-selector ul li a:hover {
  background-color: var(--thirdBg);
}
.page-selector ul li a {
  color: var(--thirdText);
}
/* -> Page selector - end */
/* <- Hero img (about) - start */
.hero-img {
  overflow: hidden;
}
.hero-img img {
  width: 100%;
  max-height: 250px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
/* -> Hero img (about) - end */
.section-social-media ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.section-social-media .icon {
  font-size: 30px;
}
/* <- Aside content - start */
.profile-picture {
  width: 65%;
  margin: 5px auto;
}
.profile-picture img {
  overflow: hidden;
  border-radius: 70%;
  width: 100%;
  object-fit: cover;
}
.icon {
  font-size: 30px;
  color: var(--primaryText);
  transition: 0.2s ease-in;
}
.icon:hover {
  color: var(--fourthText);
}
.site-aside {
  padding: 20px 40px;
  border: 1px solid grey;
  width: 35%;
  transition: 0.2s ease-in;
}
aside ul {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
}
/* -> Aside content - end */
/* > Main - end */

/* < Footer - start */
.footer-nav {
  margin: 0 auto 1rem;
  font-family: 'Poppins', sans-serif;
}
.footer-nav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.footer-nav ul li a {
  color: var(--thirdText);
  font-size: 15px;
}
.footer-nav ul li a:hover {
  color: var(--fourthText);
}
/* > Footer - end */
