@media screen and (max-width: 1026px) {
  .site-main {
    width: 95%;
  }
  .nav {
    width: 95%;
  }
  aside {
    font-size: 14px;
  }
  #social-media .sidebar-icon {
    display: flex;
  }
  #social-media .sidebar-icon ul {
    flex-wrap: wrap;
  }
  .sidebar-icon ul {
    column-gap: 2rem;
  }
}

@media screen and (max-width: 770px) {
  main p {
    font-size: 14px;
  }
  aside {
    font-size: 12px;
  }
  aside ul {
    gap: 5px;
  }
  .site-content {
    padding: 25px;
  }
  .site-aside {
    padding: 25px;
  }
  .sidebar-article-item {
    padding-top: 5px;
  }
  .sidebar-article-item p {
    font-size: 10px;
  }
  .sidebar-article-item a {
    flex-direction: column;
  }
  .sidebar-article-item img {
    width: 90%;
    margin: 0 auto;
  }
  .sidebar-icon {
    margin: 10px 0 10px;
  }
  .sidebar-icon ul li {
    margin: 5px 0 5px;
  }
  .edu-exp-container p {
    font-size: 12px;
  }
  .edu-exp-container h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 432px) {
  nav {
    position: fixed;
    width: 50%;
    height: 100vh;
    right: 0;
    top: 0;
    flex-direction: column;
    background-color: var(--primaryBg);
    z-index: 9;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
  }
  nav ul {
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .nav-active {
    transform: translateX(0);
  }
  .site-header .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
  }
  .site-main {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  .site-content {
    width: 95%;
    margin: 0 auto;
  }
  .site-aside {
    width: 95%;
    margin: 0 auto;
  }
  .nav {
    width: 80%;
  }
  .sidebar-article-item p {
    padding: 5px 20px 0;
    font-size: 14px;
  }
  .sidebar-icon ul {
    column-gap: 2.5rem;
  }
  .hamburger.active + .nav ul {
    right: 0; /* Menggeser navbar dari sebelah kanan saat hamburger menu aktif */
  }
  .hamburger.active div:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
  }
  .hamburger.active div:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active div:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
  }
}

@media screen and (max-width: 378px) {
  .edu-exp-container p {
    font-size: 10px;
    text-align: left;
  }
  .edu-exp-container h4 {
    font-size: 12px;
    text-align: left;
  }
}

@media screen and (max-width: 322px) {
  .exp-container-item {
    width: 50%;
    text-align: left;
  }
  .exp-container-date {
    width: 50%;
  }
  .edu-container-item {
    width: 50%;
    text-align: left;
  }
  .edu-container-date {
    width: 50%;
  }
  .edu-container-date p {
    text-align: right;
  }
  .exp-container-date p {
    text-align: right;
  }
  p {
    font-size: 12px;
  }
}
